@model BuyFormModel
@inject IUsersService users

@{ 
    ViewData["Title"] = "Buy Accessory";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="POST" asp-action="Buy">
            <div asp-validation-summary="ModelOnly"></div>
            <h3>
                In the next 3 days you will receive a call from the courirer firm which will inform you when will they deliver the product to you! Thank you for shopping in our site :)
            </h3>
            @{
                var phoneNumber = await users.GetUserPhoneNumber(this.User.Id());
                var address = await users.GetUserAddress(this.User.Id());
            }
            @if (phoneNumber == null && address == null)
            {
                <div class="form-group">
                    <label asp-for="@Model.PhoneNumber">Phone Number</label>
                    <input asp-for="@Model.PhoneNumber" type="tel" pattern="[+][3][5][9][0-9]{2}[0-9]{3}[0-9]{4}" class="form-control" placeholder="Enter your new phone number">
                    <small class="form-text text-muted">Your phone number should start with <span class="badge badge-info">+359</span></small>
                </div>
                <div class="form-group">
                    <label>Please write your Address here:</label>
                    <textarea asp-for="@Model.Address" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="@Model.Address" class="small text-danger"></span>
                </div>
            }
            else
            {
                <div class="mb-5 mt-3">We already have your delivery data, but you can <a type="button" asp-controller="Users" asp-action="ChangePhoneNumber" class="btn btn-primary m-1">change your phone number</a> and you can <a type="button" asp-controller="Users" asp-action="ChangeAddress" class="btn btn-primary m-1">change your address</a></div>
            }
            @{
                Model.PhoneNumber = phoneNumber;
                Model.Address = await users.GetUserAddress(this.User.Id());
            }
            <div class="form-group mt-3">
                <label asp-for="@Model.Quantity"></label>
                <input asp-for="@Model.Quantity" type="number" class="form-control" placeholder="Enter the desired quantity">
                <span asp-validation-for="@Model.Quantity" class="small text-danger"></span>
            </div>
            <input asp-for="@Model.AccessoryId" type="hidden">
            <input asp-for="@Model.PhoneNumber" type="hidden">
            <input asp-for="@Model.Address" type="hidden">
            <div asp-validation-summary="ModelOnly"></div>
            <button type="submit" asp-action="Buy" asp-controller="Accessories" class="btn btn-primary">Buy</button>
        </form>
    </div>
</div>

@{
    var path = Path.Replace(".cshtml", string.Empty);
    path = path.Replace("/Views", string.Empty);
    TempData["PreviousUrl"] = path + "?id=" + Model.AccessoryId;
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}